@CHARSET "UTF-8";

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

body {
	background: url(/throttle/images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
	margin: 100px auto;
	max-width: 446px;
}

form[role=login] {
	font: 18px/2.2em Lato, serif;
	color: #b4b4b4;
	background: #fff;
	max-width: 446px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px 40px 30px 40px;
}	
	form[role=login] h3 {
		font-size: 24px;
		color: #0b2344;
	}
	form[role=login] h4 {
		margin: 15px 0 30px 0;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 16px;
		margin: 5px 0;
	}
	form[role=login] input {
		color: #d5d5d5;
		background: #fff;
		box-shadow: none;
		margin: 25px 0;
	}
		form[role=login] input::-webkit-input-placeholder {
			color: #c1c4c5;
		}
		form[role=login] input:-moz-placeholder {
			color: #c1c4c5;
		}
		form[role=login] input::-moz-placeholder {
			color: #c1c4c5;
		}
		form[role=login] input:-ms-input-placeholder {  
			color: #c1c4c5;
		}
	form[role=login] > div {
		margin-top: 20px;
		text-align: center;
		font-size: 2px;
	}
		form[role=login] > div a {
			font-size: 15px;
			color: #007fff;
		}